<a href="https://colab.research.google.com/github/hyosungHWANG/201927151_hyosung/blob/main/2024_01_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [108]:
BASE_SIZE = 8

for r in range(BASE_SIZE):
  for c in range(r+1):
    print('*', end='')
  print()

*
**
***
****
*****
******
*******
********

In [111]:
BASE_SIZE = 8

for r in range(BASE_SIZE):
    for c in range(BASE_SIZE - r):
        print('*', end='')
    print()

********
*******
******
*****
****
***
**
*

In [19]:
a = 4

if a>5:
    print("a는 5보다 크다.")
print("a는 5보다 크지 않다.")

a는 5보다 크지 않다.

In [21]:
a = 'f'

if a == 'm':
    print("a는 남자입니다.")
else:
    print("a는 여자입니다.")

a는 여자입니다.

In [27]:
score = int(input("점수를 입력하세요:"))

if score >= 90:
  print("이 학생의 점수는 A입니다.")
elif 90 > score >= 80:
  print("이 학생의 점수는 B입니다.")
elif 80 > score >= 70:
  print("이 학생의 점수는 C입니다.")
elif 70 > score >= 60:
  print("이 학생의 점수는 D입니다.")
else:
  print("이 학생의 점수는 F입니다.")

점수를 입력하세요:55
이 학생의 점수는 F입니다.

In [28]:
a = 10
b = 5

if a > 5:
  if b < 10:
    print("a는 5보다 크고 b는 10보다 작다.")

a는 5보다 크고 b는 10보다 작다.

In [29]:
a = 10
b = 5

if a > 5 and b < 10:
    print("a는 5보다 크고 b는 10보다 작다.")

a는 5보다 크고 b는 10보다 작다.

In [34]:
a = [1,2,3,4,5]

for i in a:
  print(i,end=" ")
  # 옆으로 나열!

1 2 3 4 5

In [41]:
for i in range(1,10,2):
  print(i,end="/")

for i in range(10):
  print(i,end="_")

1/3/5/7/9/0_1_2_3_4_5_6_7_8_9_

In [57]:
n = int(input())
sum = 0

for i in range(1,n+1):
  sum = sum + i
  if i == n:
    print(sum)

3
6

In [98]:
a, b, c = input().split()    # 입력받은 값을 공백을 기준으로 분리
a = int(a)    # 변수를 정수로 변환한 뒤 다시 저장
b = int(b)
c = int(c)

if a > b > c:
    print(b)
elif c > b > a:
    print(b)
elif b > a > c:
    print(a)
elif c > a > b:
    print(a)
else:
    print(c)

20 30 10
20

In [100]:
# 세 정수 입력 받기
a, b, c = map(int, input().split())

# 두 번째로 큰 정수 찾기
second_largest = None

if (a >= b and a <= c) or (a >= c and a <= b):
    second_largest = a
elif (b >= a and b <= c) or (b >= c and b <= a):
    second_largest = b
else:
    second_largest = c

# 결과 출력
print(second_largest)

20 30 10
20

In [90]:
def add(x,y):
  s = x + y
  a = s / 2
  return s, a

h,a = add(10,20)
print("합:",h, "평균:", a)
print("합: %d 평균: %.2f"%(h,a))

합: 30 평균: 15.0
합: 30 평균: 15.00