<a href="https://colab.research.google.com/github/hyosungHWANG/201927151_hyosung/blob/main/2024_01_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [113]:
score = list()
m = "0"

while m.isdigit() == True:

      m = input("학생의 점수를 입력하세요.")
      if m.isdigit() == True:
        score.append(int(m))

print('입력 데이터 출력 : ',score)
print('합계', sum(score))
print('인원수 : ', len(score))
print('평균 : ', sum(score)/len(score))

학생의 점수를 입력하세요.90
학생의 점수를 입력하세요.70
학생의 점수를 입력하세요.30
학생의 점수를 입력하세요.x
입력 데이터 출력 :  [90, 70, 30]
합계 190
인원수 :  3
평균 :  63.333333333333336

In [9]:
a = 1
while(a <= 3):
  print('안녕', a)
  #a = a + 1
  a+=1

안녕 1
안녕 2
안녕 3

In [34]:
a = 'Welcome'
b = 'Hello'
c = 'Done'

for m in range(4):
  print(a)
  for n in range(3):
    print(b)

print(c)

Welcome
Hello
Hello
Hello
Welcome
Hello
Hello
Hello
Welcome
Hello
Hello
Hello
Welcome
Hello
Hello
Hello
Done

In [35]:
a, b, c = input().split()    # 입력받은 값을 공백을 기준으로 분리
a = int(a)    # 변수를 정수로 변환한 뒤 다시 저장
b = int(b)
c = int(c)

if a >= b >= c or c >= b >= a:
    print(b)
elif b >= a >= c or c >= a >= b:
    print(a)
else:
    print(c)

20 30 10
20

In [45]:
a, b, c = map(int,input().split())

nums = [a, b, c]
nums.sort() # 기본적으로 오름차순 정렬

print(nums[1]) # 인덱싱 번호 유의

20 30 10
20

In [46]:
a, b, c = map(int,input().split())

nums = [a, b, c]
nums[1] = 3.14

nums_1 = (a, b, c)
nums_1[1] = 3.14 #튜플 변경 불가

20 30 10

TypeError: ignored

In [67]:
score= [[29, 28, 27, 30],
[30, 20, 27, 29],
[23, 25, 29, 30]]

for r in range(len(score)): #list의 총 개수 즉 3행
  for c in range(len(score[1])): #list하나의 길이 즉 4열
    print(score[r][c], end=" ")
  print()

print(score[1][2]) #개별 데이터 추출

29 28 27 30
30 20 27 29
23 25 29 30
27