<a href="https://colab.research.google.com/github/hyosungHWANG/201927151_hyosung/blob/main/2024_01_05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
data = "John,30,Engineer\nAlice,25,Designer\nBob,22,Artist"
lines = data.split("\n")

for line in lines:
  fields = line.split(",")
  print("Name:", fields[0], "Age:", fields[1], "Occupation:", fields[2])

Name: John Age: 30 Occupation: Engineer
Name: Alice Age: 25 Occupation: Designer
Name: Bob Age: 22 Occupation: Artist

In [5]:
words = ['Hello', 'world', 'this', 'is', 'a', 'test']
sentence = '#'.join(words)
print(sentence)

Hello#world#this#is#a#test

In [4]:
words = ['Hello', 'world', 'this', 'is', 'a', 'test']
sentence = ' '.join(words)
print(sentence)

Hello world this is a test

In [7]:
data = 'Geeks_for_Geeks'
output_data = data.split("_")
print(output_data)

output_data_join = '-'.join(output_data)
print(output_data_join)

['Geeks', 'for', 'Geeks']
Geeks-for-Geeks

In [16]:
a = [11, 12, 13, 14, 15]

new_a = [a[i]**2 for i in range(5)]
print(new_a)

[121, 144, 169, 196, 225]

In [23]:
a = ["Seoul", "New York", "London", "Shanghai", "Paris", "Tokyo"]

new_a = [a[i] for i in range(len(a)) if a[i].startswith("S")]
print(new_a)

['Seoul', 'Shanghai']

In [13]:
squares = [x**2 for x in range(5) if x%2 == 0 ]
print(squares)

[0, 4, 16]

In [18]:
squares = [(x+1)**2 for x in range(20) if (x+1)%3 == 0 ]
print(squares)

[9, 36, 81, 144, 225, 324]

In [27]:
fruits = ['apple', 'banana', 'cherry']
for index, fruit in enumerate(fruits, start=1):
  print(index, fruit)

1 apple
2 banana
3 cherry

In [29]:
input = ['a', 'b', 'c']

for index,out in enumerate(input):
  print("fruit%d name is %s"%(index,out))

fruit0 name is a
fruit1 name is b
fruit2 name is c

In [30]:
names = ['John', 'Jane', 'Doe']
ages = [25, 30, 35]

for name, age in zip(names, ages):
  print(f"{name} is {age} years old.")

John is 25 years old.
Jane is 30 years old.
Doe is 35 years old.

In [39]:
names = ["Alice", "Bob", "Charlie"]
ages = [25, 30, 35]
cities = ["New York", "San Francisco", "Los Angeles"]

# zip을 사용하여 각 리스트에서 동일한 위치에 있는 원소들을 묶음
zipped_data = zip(names, ages, cities)
#zip은 튜플로 반환
# 결과 확인
for data in zipped_data:
    print(data)

('Alice', 25, 'New York')
('Bob', 30, 'San Francisco')
('Charlie', 35, 'Los Angeles')

In [41]:
name = [ "M", "N", "S", "A" ]
roll_no = [ 4, 1, 3, 2 ]
output_data = zip(name, roll_no)

for output in output_data:
  print(output,end=',')

('M', 4),('N', 1),('S', 3),('A', 2),

In [44]:
names = ['M', 'R', 'C']
ages = [24, 50, 18]
output_data = zip(names, ages)

for index, data in enumerate(output_data):
  print(index, *data)

0 M 24
1 R 50
2 C 18

In [45]:
add = lambda x,y : x+y

print(add(5,4))

9